@layer base {
  html {
    font-size: 100%;

    @media (min-width: 100ch) {
      font-size: 1.1875rem;
    }
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    align-items: center;
    background: #fff;
    color: #222;
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans);
    interpolate-size: allow-keywords;
    justify-content: space-between;
    line-height: 1.375;
    max-inline-size: 100vw;
    padding: 1rem;
    scroll-behavior: auto;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  footer {
    font-size: 80%;
  }

  h1 {
    text-align: center;
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.6rem;
    }
  }

  a {
    color: #7b13d6;
  }

  section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
  }
}
